{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">Mensański Typer</li>
                        <li class="breadcrumb-item">{{ 'breadcump.team'|trans }}</li>
                        {% if team is defined %}
                            <li class="breadcrumb-item">{{ team.name }}</li>
                        {% endif %}
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            {% if team is defined %}
                {% include 'team/_partials/left_column.html.twig' %}
            {% endif %}
            <div class="col-lg-9">
                {% block content %}
                {% endblock %}
                {{ dump(team) }}
            </div>
        </div>
    </div>
{% endblock %}