{% extends('profile/index.html.twig') %}

{% block title %}{{ 'user.profile'|trans }} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {{ 'user.list'|trans }}
        </div>
        <div class="card-body">

        </div>
    </div>
{% endblock %}