$cyan: #17a2b8;
$font-size-base: 0.95rem;
$font-weight-mid: 500;

@import "../../../node_modules/bootstrap/scss/bootstrap";

body {
  background-color: #f9f9f9;
}

.btn-bet {
  font-weight: 700;
  letter-spacing: 2px
}

.card {
  margin-bottom: 1rem;
}

.card-header {
  font-weight: $font-weight-mid;
}

.col-sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 79px;
  margin-bottom: 1rem;
  z-index: 0;
}

.fw-mid {
  font-weight: $font-weight-mid;
}

.row-link {
  cursor: pointer;
}

.row-link:hover {
  background-color: $gray-100;
}
