
.hidden {
   display: none;
}

.spinner {
   position: absolute;
   left: 50%;
   top: 50%;
   height: 50px;
   width: 50px;
   margin: 0 auto;
   -webkit-animation: rotation 1s infinite ease-in-out;
   -moz-animation: rotation 1s infinite ease-in-out;
   -o-animation: rotation 1s infinite ease-in-out;
   animation: rotation 1s infinite ease-in-out;
   border: 3px solid rgba(255, 255, 255, .3);
   border-top-color: #fff;
   border-radius: 50%;
   z-index: 1030;
}

@-webkit-keyframes rotation {
   from {
      -webkit-transform: rotate(0deg);
   }
   to {
      -webkit-transform: rotate(359deg);
   }
}

@-moz-keyframes rotation {
   from {
      -moz-transform: rotate(0deg);
   }
   to {
      -moz-transform: rotate(359deg);
   }
}

@-o-keyframes rotation {
   from {
      -o-transform: rotate(0deg);
   }
   to {
      -o-transform: rotate(359deg);
   }
}

@keyframes rotation {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(359deg);
   }
}

/*Add an overlay to the entire page blocking any further presses to buttons or other elements.*/
.overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 1025;
   opacity: 1;
   -webkit-transition: opacity 0.3s ease;
   -moz-transition: opacity 0.3s ease;
   -o-transition: opacity 0.3s ease;
   transition: opacity 0.3s ease;
}