<div class="col-lg-3">
    <div class="col-sticky-top">
        <div class="card">
            <div class="card-header text-center">
                {{ user.fullName }}
            </div>
            <div class="card-body">
                {{ 'card.summary'|trans }}
            </div>
        </div>
    </div>
</div>
