<div class="col-lg-3">
    <div class="col-sticky-top">
        <div class="card">
            <div class="card-header text-center">
                {{ user.fullName }}
            </div>
            <div class="card-body">
                <a class="menu-link" href="{{ path('user_info', {'username': user.username}) }}">{{ 'card.summary'|trans }}</a>
            </div>
        </div>
    </div>
</div>
