{% extends 'table/index.html.twig' %}

{% block title %}Tabela - {{ parent() }}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            Tutaj będzie tabela
        </div>
    </div>
{% endblock %}
