{% extends 'user/index.html.twig' %}

{% block title %}User list - {{ parent() }}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {{ 'user.list'|trans }}
        </div>
        <div class="card-body">
            {% for user in users %}
                <a href="{{ path('user_info', {'username': user.username}) }}">{{ user.fullName }}</a><br/>
            {% endfor %}
        </div>
    </div>
{% endblock %}
