{% extends 'user/index.html.twig' %}

{% block title %}User - {{ parent() }}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {{ 'card.summary'|trans }}
        </div>
        <div class="card-body">
            Adres e-mail: {{ user.email }}
        </div>
    </div>
{% endblock %}
